.sidenav-header{
  padding-top: 24px;
  text-align: center;
  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
.header-text{
  > h2{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

}

.sidenav-header,
mat-nav-list {
  overflow-y: scroll; /* Add a vertical scrollbar */
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  padding-right: 17px; /* Adjust the padding to account for the scrollbar width */
}

.sidenav-header::-webkit-scrollbar,
mat-nav-list::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar for webkit browsers (Chrome, Safari, etc.) */
}


