<div class="head-title">
  <div class="left">
    <h1>Hotels</h1>
    <ul class="breadcrumb">
      <li>
        <a href="#">Hotels</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" href="#">Home</a>
      </li>
    </ul>
  </div>
  <a (click)="openAddEditHotelForm()" class="btn-download pointerCursor">
    <mat-icon>add</mat-icon>
    <span class="text">Add new hotel</span>
  </a>
</div>

<div class="table-data">
  <div class="order" fxLayout="row" fxLayoutAlign="center">
    <div fxLayout.xs="row" fxLayoutGap="10px" class="example-form mat-form mat-margin">
      <mat-form-field class="mat-form-field mat-margin-bottom idFieldWidth" appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="mat-form-field mat-margin-bottom" appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="mat-form-field mat-margin-bottom" appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" mat-button class="mat-margin-start">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </div>


  </div>
</div>

<div class="table-data">
  <div class="order">
    <app-hotel-list [tableProperties]="tableProperties"></app-hotel-list>
  </div>
</div>

