<!-- view -->


<div class="card">
  <div *ngIf="loadingSection === 'LOADINGG' "
       class="progress indeterminate"></div>

  <div class="card-body">

    <div class="row">

      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs w-100 d-flex flex-nowrap ">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="d-flex flex-nowrap">
            <i-feather name="file-text" class="feather-sm mr-1"></i-feather>
            <span *ngIf="active === 1 && screenMode === 'small'">{{'Fiche'}}</span>
            <span *ngIf="screenMode !== 'small'">{{'Fiche'}}</span>
          </a>

          <ng-template ngbNavContent>
            <app-hotel-infos></app-hotel-infos>
          </ng-template>


        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink class="d-flex flex-nowrap">
            <i-feather name="file-text" class="feather-sm mr-1"></i-feather>
            <span *ngIf="active === 1 && screenMode === 'small'">{{'Dashboard'}}</span>
            <span *ngIf="screenMode !== 'small'">{{'Dashboard'}}</span>
          </a>

          <ng-template ngbNavContent>
            <app-hotel-dashboard></app-hotel-dashboard>
          </ng-template>


        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink class="d-flex flex-nowrap">
            <i-feather name="file-text" class="feather-sm mr-1"></i-feather>
            <span *ngIf="active === 1 && screenMode === 'small'">{{'Rooms'}}</span>
            <span *ngIf="screenMode !== 'small'">{{'Rooms'}}</span>
          </a>

          <ng-template ngbNavContent>
            <app-hotel-rooms></app-hotel-rooms>
          </ng-template>


        </li>

        <li [ngbNavItem]="4">
          <a ngbNavLink class="d-flex flex-nowrap">
            <i-feather name="file-text" class="feather-sm mr-1"></i-feather>
            <span *ngIf="active === 1 && screenMode === 'small'">{{'Reservations'}}</span>
            <span *ngIf="screenMode !== 'small'">{{'Reservations'}}</span>
          </a>

          <ng-template ngbNavContent>
            <app-hotel-reservations></app-hotel-reservations>
          </ng-template>


        </li>

        <li ngbnavitem="" class="nav-item d-flex align-items-start  " [style]="'margin-left: auto;'">
          <!-- *ngIf="screenMode !== 'small'"  class="details-buttons"-->
          <div *ngIf="screenMode !== 'medium' && screenMode !== 'small'">
            <button type="button" class="btn btn-info px-3 mr-2 button"
                    style="min-width: 90px" (click)="navigateToSectionPage()">
              <i-feather name="arrow-left" class="feather-sm icon mr-2"></i-feather>
              <span class="text">Retour</span>
            </button>
          </div>

          <!--               More on small screan-->
          <a *ngIf="screenMode === 'medium' || screenMode === 'small'" class="action"
             ngbTooltip="Retour">
            <i-feather name="arrow-left" class="feather-lg icon btn btn-outline-light"
                       (click)="navigateToSectionPage()" style="color: #333;"></i-feather>
          </a>

        </li>
      </ul>
    </div>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
