<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">


    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex-auto">
        <label class="font-bold block mb-2"> Icon Display </label>
        <p-calendar [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"></p-calendar>
      </div>
    </div>

  </div>
  <div mat-dialog-actions class="action">
    <p-button type="submit" label="Cancel"></p-button>
    <p-button type="cancel" label="Save"></p-button>
  </div>
</form>
