<div class="head-title">
  <div class="left">
    <h1>Hotels</h1>
    <ul class="breadcrumb">
      <li>
        <a href="#">Hotels</a>
      </li>
      <li><i class='bx bx-chevron-right'></i></li>
      <li>
        <a class="active" href="#">Home</a>
      </li>
    </ul>
  </div>
  <a href="#" class="btn-download">
    <mat-icon>add</mat-icon>
    <span class="text">Add new hotel</span>
  </a>
</div>


<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Recent Orders</h3>
      <i class='bx bx-search'></i>
      <i class='bx bx-filter'></i>
    </div>
    <table>
      <ng-container class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="rounded-table">

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address</th>
            <td mat-cell *matCellDef="let element"> {{element?.address}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> City Name</th>
            <td mat-cell *matCellDef="let element"> {{element?.cityName}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-container>
    </table>
  </div>
</div>
